/* Estilos para el contenedor de los parámetros */
.params-container {
  background-color: #f0f0f0; /* Fondo gris */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  width: 180px; /* Ancho del contenedor */
  float: left; /* Alinear a la derecha */
  margin-left: 20px; /* Margen derecho */
}

/* Estilos para los botones */
.params-container input[type="number"] {
  margin-bottom: 5px; /* Margen inferior */
  display: block; /* Mostrar en bloque */
}

/* Estilos para los botones de animación */
.params-container input[type="checkbox"] {
  margin-top: 10px; /* Margen superior */
}

/* Estilos para el contenedor del canvas */
.canvas-container {
  float: left; /* Alinear a la izquierda */
  margin-left: 20px; /* Margen izquierdo */
}

/* Estilos para el contenedor del texto explicativo y las referencias */
.explanation,
.references {
  clear: both; /* Limpiar flotadores */
  margin-top: 20px; /* Espacio superior */
}

/* Estilos para el contenedor del texto explicativo */
.explanation {
  background-color: #f0f0f0; /* Fondo gris */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el contenedor de las referencias */
.references {
  margin-top: 20px; /* Espacio superior */
}

/* Estilos para los enlaces de referencia */
.references ul {
  list-style-type: none; /* Eliminar viñetas */
  padding: 0; /* Eliminar relleno */
}

.references li {
  margin-bottom: 10px; /* Margen inferior */
}


